<% include partials/header %>

<form action = '/todos' method = 'POST'>
  <input type = 'text' placeholder = 'Новый todo' name = 'todo[name]'>
  <label>Укажите приоритет:
    <select name = 'todo[priority]'>
        <option value = '1'>Низкий</option>
        <option value = '2'>Средний</option>
        <option value = '3'>Высокий</option>
        <option value = '4'>Очень высокий</option>
    </select>
  </label>
  <input type = 'submit' value = 'Создать todo'>
</form>

<% include partials/footer %>